<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>ADMIN - MANAGE ORDERS</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			padding: 5px;
			margin-top: 10px;
		}
	</style>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->
		<div class="px-3">
			<h2>Manage Orders</h2>
			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin"
				role="button"
			>
				Back to Admin Page
			</a>

			{{if .Orders}}
			<table>
				<thead>
					<th>OrderID</th>
					<th>Username</th>
					<th>RestaurantID</th>
					<th>Restaurant Name</th>
					<th>Collection</th>
					<th>Date</th>
					<th>Manage Order Items</th>
					<th>View Details</th>
					<th>Delete Order</th>
				</thead>
				<tbody>
					{{range .Orders}}
					<tr>
						<td>{{.ID}}</td>
						<td>{{.Username}}</td>
						<td>{{.RestaurantID}}</td>
						<td>{{.RestaurantName}}</td>
						<td>{{.Collection}}</td>
						<td>{{.Date}}</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/orders/{{.ID}}/items"
								role="button"
							>
								Manage Order Items
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/orders/{{.ID}}/details"
								role="button"
							>
								View Details
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/orders/{{.ID}}/delete"
								role="button"
								onclick="return confirm('Are you sure you want to delete order of id: {{.ID}}?')"
							>
								Delete Order
							</a>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}

			<p>There Are No Orders</p>

			{{end}}
		</div>
		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
