<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>ADMIN - MANAGE RESTAURANTS</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			padding: 5px;
			margin-top: 10px;
		}
	</style>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->
		<div class="px-3">
			<h2>Manage Restaurants</h2>

			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin"
				role="button"
			>
				Back to Admin Page
			</a>
			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin/restaurants/new"
				role="button"
			>
				Create New Restaurant
			</a>

			{{if .Restaurants}}
			<table>
				<thead>
					<th>Restaurant ID</th>
					<th>Name</th>
					<th>Edit Profile</th>
					<th>View Location</th>
					<th>Manage Food Items</th>
					<th>Manage Orders</th>
					<th>Delete Restaurant</th>
				</thead>
				<tbody>
					{{range .Restaurants}}
					<tr>
						<td>{{.ID}}</td>
						<td>{{.Name}}</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/restaurants/{{.ID}}/profile"
								role="button"
							>
								Edit Profile
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/restaurants/{{.ID}}/location"
								role="button"
							>
								View Location
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/restaurants/{{.ID}}"
								role="button"
							>
								Manage Food Items
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="#"
								role="button"
							>
								Manage Orders
							</a>
						</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/admin/restaurants/{{.ID}}/delete"
								role="button"
								onclick="return confirm('Are you sure you want to delete restaurant of ID: {{.ID}}?')"
							>
								Delete Restaurant
							</a>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}
			<br />
			There Are No Restaurants... {{end}}
		</div>
		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
