<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>ADMIN - USER PROFILE</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->

		<div class="px-3">
			<h2>User Profile</h2>
			<h4>Username: {{.Target.Username}}</h4>

			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin/users"
				role="button"
			>
				Back to All Users
			</a>
			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin/users/{{.Target.Username}}/location"
				role="button"
			>
				View Location
			</a>
			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="#"
				role="button"
			>
				Manage Orders
			</a>
			<a
				class="btn btn-light"
				style="background-color: #d70f64; color: white"
				href="/admin/users/{{.Target.Username}}/delete"
				role="button"
				onclick="return confirm('Are you sure you want to delete user: {{.Target.Username}}?')"
			>
				Delete User
			</a>

			<br />
			<form class="my-3" method="post">
				<label for="firstName">First Name:</label>
				<input type="text" name="firstName" placeholder="{{.Target.First}}"/>
				<br />
				<label for="lastLame">Last Name:</label>
				<input type="text" name="lastName" placeholder="{{.Target.Last}}"/>
				<br />

				<label for="gender">Gender:</label>
				<select name="gender">
					<option hidden disabled selected value>Select One</option>
					<option value="Male" {{if eq .Target.Gender "Male"}} selected {{end}}>Male</option>
					<option value="Female" {{if eq .Target.Gender "Female"}} selected {{end}}>Female</option>
				</select>
				<br />

                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" value="{{.Target.Birthday}}">
                <br />

				<br />
                <h4>Health Section</h4>
                <label for="height">Height(cm):</label>
                <input type="number" name="height" placeholder="{{.Target.Height}}">
				<br />

                <label for="weight">Weight(kg):</label>
                <input type="number" name="weight" placeholder="{{.Target.Weight}}" step="0.01">
				<br />

                <label for="activityLevel">Activity Level(between 1 and 5):</label>
                <input type="number" name="activityLevel" placeholder="{{.Target.ActivityLevel}}" min="1" max="5">
				<br />

                <label for="caloriesPerDay">Target Calories Per Day:</label>
                <input type="number" name="caloriesPerDay" placeholder="{{.Target.CaloriesPerDay}}">
				<br />

				<br />
                <h4>Preferences</h4>
                <input type="checkbox" name="halal" value="true" {{if eq .Target.Halal true}} checked {{end}}>
                <label for="halal"> Halal</label>
                <br>

                <input type="checkbox" name="vegan" value="true" {{if eq .Target.Vegan true}} checked {{end}}>
                <label for="vegan"> Vegetarian</label>
                <br>

				<br />
				<button
					type="submit"
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
				>
                    Update Profile
				</button>
			</form>
		</div>

		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
