<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME PAGE</title>
</head>
<body>
<h1>Welcome to the login and logout demonstration page</h1>
{{if .First}}
Welcome User {{.Username}}<br>
Your first name is {{.First}}<br>
Your last name is {{.Last}}<br>
<h2><a href="/restricted">Restricted Area</a></h2>
<h2><a href="/logout">Log Out</a></h2>
{{else}}
<h2>You are currently either not logged in or need to sign up for an account</h2>
<h2><a href="/signup">Sign Up</a></h2>
<h2><a href="/login">Log in</a></h2>
{{end}}


</body>
</html>