<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>Welcome Page</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				{{if .User.Username}}
				<h2 class="display-4">Welcome {{.User.First}}!</h2>
				<p class="lead">Hungry? Check Out Our Restaurants!</p>
				<a
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
					href="/restaurants"
					role="button"
				>
					Browse Restaurants
				</a>
				{{else}}
				<h2 class="display-4">Welcome!</h2>
				<p class="lead">Hungry? Login or Sign Up to Begin!</p>
				<a
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
					href="/login"
					role="button"
				>
					Login
				</a>
				<a
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
					href="/signup"
					role="button"
				>
					Sign Up
				</a>
				{{end}}
			</div>
		</div>

		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
