<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>LOGIN</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->
		<div class="px-3">
			<h2>Please login to your account</h2>
			<form method="post">
				<label for="username">Username:</label>
				<input type="text" name="username" /><br />
				<label for="password">Password:</label>
				<input type="password" name="password" /><br />
				<button
					type="submit"
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
				>
					Login
				</button>
			</form>
			<br />
			<h4>Or <a href="/signup">Sign Up</a> if you do not have an account</h4>
		</div>
		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
