<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>Create Account</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->

		<div class="px-3">
			<h2>Create New Restaurant</h2>
			<h4>Enter the following to create a new restaurant</h4>
			<form method="post">
				<label for="name">Name:</label>
				<input
					type="text"
					name="name"
					placeholder="Restaurant Name"
					required
				/><br />
				<label for="description">Description:</label><br />
				<textarea name="description" rows="4" cols="50"></textarea><br />
				<button
					type="submit"
					class="btn btn-light"
					style="background-color: #d70f64; color: white"
				>
					Create Restaurant
				</button>
			</form>
		</div>

		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
