<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>Restaurant Listing</title>

		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			padding: 5px;
			margin-top: 10px;
		}
	</style>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->
		<div class="px-3">
			<h2>Restaurant Listing</h2>
			{{if .Restaurants}}
			<table>
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Go Here</th>
				</thead>
				<tbody>
					{{range .Restaurants}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Description}}</td>
						<td>
							<a
								class="btn btn-light"
								style="background-color: #d70f64; color: white"
								href="/restaurants/{{.ID}}"
								role="button"
							>
								Go Here
							</a>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}
			<br />
			There Are No Restaurants... {{end}}
		</div>
		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
