<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- Title -->
		<title>User Detailed Information</title>
		
		<!-- Bootstrap -->
		{{template "bootstrap"}}
	</head>
	<body>
		<!-- Navbar -->
		{{template "navbar" .}}
		<!-- End of Navbar -->

		<h1>User Detailed Information</h1>

		{{if .User.Username}}
		<!-- Display User info if User data has username -->
		Your username is {{.User.Username}}<br />
		Your password is {{.User.Password}}<br />
		Your first name is {{.User.First}}<br />
		Your last name is {{.User.Last}}<br />
		<h2><a href="/logout">Log Out</a></h2>
		{{end}}
		<!-- End of Display Info -->

		<!-- Bootstrap Javascript -->
		{{template "bootstrap-javascript"}}
	</body>
</html>
