<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<h1>Create New Account</h1>
<h3>Enter the following to create a new account</h3>
<form method="post">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for ="password">Password:</label>
    <input type="text" name="password" placeholder="password"><br>
    <label for ="firstname">First name:</label>
    <input type="text" name="firstname" placeholder="first name"><br>
    <label for ="lastname">Last name:</label>
    <input type="text" name="lastname" placeholder="last name"><br>
    <input type="submit">
</form>

</body>
</html>